<div class="header">
	<div>&nbsp;</div>
	<div class="title">Events</div>
	<div class="user">
		<div>{{userName}}</div>
		<div><a href="#" ng-click="logOut()">Log Out</a></div>
	</div>
</div>

<div class="event-list" >
	<div class="event-item borders" ng-repeat="event in events" ng-click="showDetail(event)">
		<div class="thumb"><img ng-src="{{event.thumbUrl}}"></div>
		<div class="description">
			{{event.description}}
		</div>
		<div class="go-detail"><img src="/images/arrow-right.png"></div>
	</div>
</div>
